[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "==2.1.3"
graphene-sqlalchemy = "==2.1.0"
Flask = "==1.0.2"
SQLAlchemy = "==1.2.10"
Flask-GraphQL = "==2.0.0"

[dev-packages]
pandas = "*"
requests = "*"

[requires]
python_version = "3.6"
