html, body {
  font-family: Helvetica, Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#hud {
  height: 100%;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

#toolbar {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 8px;
  pointer-events: initial;
}

#search {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

#search input {
  border: none;
  border-bottom: 1px solid #ccc;
  flex-grow: 1;
  margin-left: 8px;
  outline: none;
  text-decoration: none;
}

#search .material-icons {
  color: #999;
}

#sidebar {
  box-sizing: border-box;
  margin: 8px;
  pointer-events: initial;
}

#sidebar-content {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}

#map {
  height: 100%;
  position: absolute;
  width: 100%;
}

#loading {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 60000;
}

#loading > div {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

#color-filter {
  z-index: 50000;
}

.rounded-box {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
}

.shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.hidden {
  display: none;
}

.leaflet-control-zoom {
  display: none;
}

@media only screen and (max-width: 600px) {
  #toolbar {
    width: calc(100% - 16px);
  }

  #sidebar {
    bottom: 0px;
    height: 25%;
    position: fixed;
    width: calc(100% - 16px);
  }
}

@media only screen and (min-width: 600px) {
  #hud {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #toolbar {
    flex-basis: 350px;
  }

  #sidebar {
    flex-basis: 300px;
    height: calc(100% - 16px);
    position: relative;
  }
}
