html, body {
  font-family: 'Lato', Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#hud {
  height: 100%;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

#toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  pointer-events: initial;
}
.toolbar-label {
  font-size: 10px;
  display: block;
  margin-bottom: 5px;
  color: #444444;
}
#search {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 8px;
  width: 100%;
}

#search input {
  border: none;
  border-bottom: 1px solid #ccc;
  flex-grow: 1;
  margin-left: 8px;
  outline: none;
  text-decoration: none;
}

#search .material-icons {
  color: #999;
}

#sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  padding: 0px;
  pointer-events: initial;
}

#sidebar-default {
  padding: 32px 48px 0px 48px;
}

#sidebar-default a {
  text-decoration: none;
}

#sidebar-content, #sidebar-vacant-content {
  box-sizing: border-box;
  flex-grow: 1;
 /* padding: 10px;*/
  /*overflow-y: auto;*/
  padding: 32px 20px 0px 20px;
}

#sidebar-vacant {
  overflow: auto;
}

.sidebar-image {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0px;
  position: relative;
  top: 0px;
  width: 100%;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotsContainer{
  position: absolute;
  bottom: 0px;
  left: 50%;
  outline-color: white;
  outline: white;
  transform: translateX(-50%);
}
.active, .dot:hover {
  background-color: #717171;
}

#sidebar-image-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 12px;
}
#sidebar-image-credit a{
  color: #fff;
}
#sidebar-content h1 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  margin-top: 0px;
  margin-bottom: 6px;
}
#sidebar-default{
  padding: 0px 20px 0px 20px;
}

#sidebar h2 {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #777777;
  margin: 0px;
  margin-bottom: 20px;
}

#sidebar h3 {
  font-size: 15px;
  font-weight: 300;
  color: #aaa;
  margin: 0px;
  margin-bottom: 10px;
}


#sidebar h4 {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #444444;
  margin: 0px;
  margin-top: 5px;
}
#sidebar h5 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #198b27;
  margin: 0px;
  margin-bottom: 24px;
}
#sidebar span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
#sidebar button {
  position: absolute;
  right: 0px;
  opacity: 0.6;
  border: none;
  background: gray;
}


#sidebar button:hover {
  opacity: 0.8;
}
#sidebar-tree {
  display: flex;
  flex-direction: column;
  min-height: 1px; /* CSS is beautiful */
  position: relative;
  overflow-y: auto;
}
.sidebar-divider{
  height: 1px;
  background-color: #d8d8d8;
  margin-top: 12px;
  margin-bottom: 24px;
}
.sidebar-seperator{
  height: 20px;
}
#map {
  height: 100%;
  position: absolute;
  width: calc(100% - 440px);
}

#loading {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 60000;
}

#loading > div {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
.color-filter-container {
  width: 60%;
  padding: 0 1rem;
}
#color-filter {
  z-index: 5;
  width: 100%;
  border-radius: 4px;
}
.btn-group button {
  background-color: #fff;
  height: 36px;
  padding: 10px;
  border: solid 1px #cccccc;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.btn-group button:focus {
  outline: 0;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:last-child {
  border-radius: 0 4px 4px 0;
}
.btn-group button:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.species-button.active {
  background-color: #43ae76;
  color: #fff;
}

.ap-input {
  padding-right: 56px;
  height: 36px;
}
.address-container {
  width: 65%;
}
.ap-input-icon {
  right: 10px;
}
.ap-icon-clear {
  right: 40px;
}
.species-filter-container {
  width: 30%;
}
.select2-container {
  width: 100% !important;
}
.select2-selection {
  padding: 3px; 
}
.select2-container--open {
  z-index: 33333;
}
.rounded-box {
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 16px;
}
.shareButtons {
  display: flex;
  flex-direction: row;
  pointer-events: initial;
  align-content: center;
  top: 0;
  
}
.shareButtons div {
  margin-top: 0px ; 

}
.shareButtons  a{
  margin-left: 15px;
}




.shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

select.shadow {
  margin: 8px;
}

.hidden {
  display: none !important;
}

.banner {
  background-color: #41ae76;
  color: #fff;
  font-size: 25px;
  line-height: 1;
  padding: 18px 18px 25px 20px;
  text-align: center;
}
#rightButton button{
  font-size: 60px;
  font-weight: bolder;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}
#rightButton:hover button:focus {outline:0;}

#leftButton button{
  font-size: 60px;
  font-weight: bolder;
  color: white;
  float: left;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}
#leftButton:hover button:focus {outline:0;}



@media only screen and (max-width: 850px) {
  #toolbar {
    width: calc(100% - 16px);
  }

  #sidebar {
    bottom: 0px;
    height: 50%;
    position: fixed;
    width: calc(100%);
  }

  #map {
    height: 50%;
    top: 0px;
    width:100%;
  }
  .sidebar-image {
    min-height: 50px;
  }
}

@media only screen and (min-width: 850px) {
  #hud {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #toolbar {
    flex-basis: calc(96% - 440px);
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 10px; 
    margin-top: 1.3%;
    margin-left: 1.3%;
  }

  #sidebar {
    flex-basis: 440px;
    height: calc(100%);
    position: relative;
  }

  #map {
    flex-basis: calc(100% - 440px);
  }

  .sidebar-image {
    min-height: 250px;
  }

  
}
