html, body {
  font-family: 'Lato', Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#hud {
  height: 100%;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

#toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 8px;
  pointer-events: initial;
}

#search {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 8px;
  width: 100%;
}

#search input {
  border: none;
  border-bottom: 1px solid #ccc;
  flex-grow: 1;
  margin-left: 8px;
  outline: none;
  text-decoration: none;
}

#search .material-icons {
  color: #999;
}

#sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 16px;
  margin-bottom: 32px;
  overflow: hidden;
  padding: 0px;
  pointer-events: initial;
}

#sidebar-content {
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: auto;
  padding: 32px 48px 0px 48px;
}

#sidebar-image {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  top: -10px;
  width: 100%;
}

#sidebar-content h1 {
  color: #777;
  font-size: 27px;
  margin: 0px;
  margin-bottom: 2px;
}

#sidebar-content h2 {
  color: #888;
  font-style: italic;
  font-size: 22px;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 5px;
}

#sidebar-content h3 {
  color: #aaa;
  font-size: 15px;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 10px;
}

#sidebar-tree {
  display: flex;
  flex-direction: column;
  min-height: 1px; /* CSS is beautiful */
  position: relative;
}

#sidebar-close-button {
  position: absolute;
  right: 0px;
  top: 0px;
}

#map {
  height: 100%;
  position: absolute;
  width: 100%;
}

#loading {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 60000;
}

#loading > div {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

#ReportForm {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 60000;
  visibility: hidden;
  align-content: center;
  
}
#ReportForm > div {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}



#loading > div {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

#color-filter {
  z-index: 50000;
}

.rounded-box {
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 16px;
}

.shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

select.shadow {
  margin: 8px;
}

.hidden {
  display: none !important;
}

.leaflet-control-zoom {
  display: none;
}

.banner {
  background-color: #41ae76;
  color: #fff;
  font-size: 25px;
  line-height: 1;
  padding: 18px 18px 25px 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #toolbar {
    width: calc(100% - 16px);
  }

  #sidebar {
    bottom: 0px;
    height: 50%;
    position: fixed;
    width: calc(100% - 16px);
  }

  #sidebar-image {
    min-height: 50px;
  }
}

@media only screen and (min-width: 600px) {
  #hud {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #toolbar {
    flex-basis: 350px;
  }

  #sidebar {
    flex-basis: 440px;
    height: calc(100% - 48px);
    position: relative;
  }

  #sidebar-image {
    min-height: 250px;
  }
  .exitButton{
    color:black;
    align-content: center;
    font-size: 25;
    font-weight: bold;
    background-color: white;
    border: white
  }
  .ReportButton{
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  .ReportButton:hover {
    background-color: #8B0000;
    
  }
  .SubmitButton{
    background-color: green;
    border: none;
    color: white;
    padding: 5px 140px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: center;
    font-size: 15px;
    margin: 4px 4px 4px 4px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-self: center;
    box-align: center;
    position: relative;
    
  }
  .SubmitButton:hover {
    background-color: greenyellow;
    
  }
  #formCloseButton {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
  .custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
