version: 2

jobs:
  deploy:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run: sudo npm install -g surge
      - run: surge --project ./public --domain public-tree-map.surge.sh

workflows:
  version: 2
  commit:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - master
                - test-circleci
