body {
  flex-direction: column;
}

#container {
  height: 75%;
  width: 100%;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
  grid-template-columns: 1fr;
}

#map {

}
