#toolbar {
  position: relative;

  width: calc(100% - (2 * 16px));
  height: calc(15% - (2 * 16px));

  padding: 16px;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}


/* Species filter */
.species-filter-container {
  width: 70%;
  margin-left: 1em;
}

/* Color Filter */
.color-filter-container {
  width: 20%;
}
.color-filter-container button {
  display: none;
}

.color-filter-container {
    padding-right: 0;
    display: inline-block;
}

#species-button-species, #species-button-heritage {
  display: block;
}

.species-button:nth-child(2) {
  border-radius: 0 4px 4px 0;
}



/* Hide Geolocation */
#address-input{
  visibility: hidden !important;
  display: none !important;
}

.address-container {
  visibility: hidden !important;
  display: none !important;
}