.singleTreeView {
  overflow-y: scroll;
  height: calc(100vh - 150px);
  width: 20em;
  padding: 2em;
}

h4 {
  margin-top: 0;
  margin-bottom: 1em;
}

img {
  margin-top: 1em;
}

.treeTitle {
  margin-bottom: 0.1em;
}

.propertyLabel {
  font-size: 0.75em;
  color: #828184;
  text-transform: uppercase;
  margin-top: 1em;
}

.propertyDetails {
  font-size: 1em;
  margin-top: 0.25em;
}

.singleTreeView > div {
  border-bottom: 1px solid #828184;
  margin: 1em;
  padding-bottom: 1em;
}
