.singleTreeView {
  overflow-y: scroll;
  height: calc(100vh - 150px);
  padding: 2em;
}

.treeTitle {
  margin-bottom: 0.1em;
}

.propertyLabel {
  font-size: 0.75em;
  color: #828184;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.propertyDetails {
  font-size: 1em;
  margin-bottom: 1em;
}
