html, body {
  font-family: 'Lato', Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#container {
  width: 70%;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotsContainer{
  position: absolute;
  bottom: 0px;
  left: 50%;
  outline-color: white;
  outline: white;
  transform: translateX(-50%);
}
.active, .dot:hover {
  background-color: #717171;
}

.rounded-box {
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 16px;
}

.btn {
  background-color: #43ae76;
  color: #fff;

  padding: 8px 16px;
  margin: 16px 4px;
  border: none;
  border-radius: 4px;
}

.shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

select.shadow {
  margin: 8px;
}

.hidden {
  display: none !important;
}
